.Div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 6rem;
  row-gap: 2rem;

  position: relative;
  margin: 20px 20px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 220px;
  height: 320px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  /* background-image: url("D:\biswajeet jena lipu\NEW_PORTFOLIO\frontend\src\assets\waimg.jpeg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 400ms;

  position: relative;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;

  border: 1px solid white;
  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightblue;
  opacity: 0.5;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover {
  .btn {
    display: block;
    z-index: 2;
  }

  .btn2 {
    display: block;
    z-index: 2;
  }

  .title {
    display: block;
  }

  .title {
    transform: translateY(-100%);
    z-index: 200;
    display: block;
    height: 60%;
  }
  .title_text {
    display: block;
  }
}

.btn {
  display: none;
  width: 50%;
  height: 50px;
  color: white;
  border-radius: 15px;
  border: none;
  background-color: black;
  cursor: pointer;
  position: absolute;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.b {
  margin-left: 26px;
}
.btn2 {
  display: none;
  width: 100%;

  color: black;
  border-radius: 15px;
  border: none;

  cursor: pointer;
  position: absolute;
  bottom: 30%;
}

h5 {
  top: 100px;
  font-size: 50px;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

/* .cards:hover > */
.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.title {
  color: white;
  display: block;
  transition: all 0.5s;
  text-align: center;

  width: 100%;
  /* height: 50px; */
  padding: 30px 0;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: black;
  cursor: pointer;
  position: absolute;

  opacity: 0.8;
  bottom: 0;

  font-size: 2rem;
  font-weight: bold;
}
.title_text {
  display: none;
  padding: 15px 0 0 0;
}

.hover {
  color: black;
  background: transparent;
  position: absolute;
  width: 50%;
  height: 50px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: black;
  cursor: pointer;
  position: absolute;
  text-align: center;
}

@media (max-width: 550px) {
  .cards {
    flex-direction: column;
    row-gap: 2rem;
  }
}

/* h2 for heading */

h2 {
  color: black;

  font-size: 3rem;
  color: #000;
}

h2::before {
  position: absolute;
  content: "";
  width: 25%;
  height: 2px;
  background-color: #7452cc;
}

.container {
  margin: 0 10%;
}
