@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Lato:wght@300;400;700&family=Montserrat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15rem 0 0 0;
  top: 10rem;
}

header {
  width: 100%;
  background-color: white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 10rem 2.5rem 10rem;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.3s;
  top: -1px;
  padding: 20px 0 20px 0;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15%;
}

.brand a {
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
  font-family: "Black Ops One", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #000;
}

.brand .jeet {
  color: #7452cc;
}

.brand .code {
  color: #2e1f00;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.brand p {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1rem;
  font-family: "Bebas Neue", cursive;
  font-family: "Black Ops One", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Sintony", sans-serif;
  color: #000;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  right: 20rem;
  position: relative;
}

nav ul li a {
  font-size: 2rem;
  color: #2e1f00;
  position: relative;
}

/* animation trick  */
nav ul li a::after {
  content: "";
  position: absolute;
  background: #372cb7;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -10px;
  transition: all 0.5s;
}

nav ul li a:hover::after,
nav ul li a:active::after {
  width: 100%;
}

.mobile-navbaricon {
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #372cb7;
  display: none;
}

.mobile-navbaricon [name="close"] {
  display: none;
}

.mobile-navbaricon [name="open"] {
  position: absolute;
  right: 30px;
  top: 30px;
}

/* ..........................................................media section */

@media (max-width: 1150px) {
  main {
    margin-top: 5rem;
  }

  nav ul {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    justify-content: center;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transform: translatex(100%);
    transition: all 0.5s;
  }

  nav ul li a {
    color: white;
    font-size: 3rem;
  }

  .mobile-navbaricon {
    font-size: 3.5rem;
    display: block;
    color: #372cb7;
    /* border: 2px solid white; */
    padding: 0 4px;
    z-index: 99;
  }

  .active nav ul {
    transform: translateX(0%);
    visibility: visible;
    opacity: 0.9;
    pointer-events: auto;
  }

  .active .mobile-navbaricon [name="open"] {
    display: none;
  }

  .active .mobile-navbaricon [name="close"] {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
  }

  .section1 {
    flex-direction: column;
  }

  .section1 .logo {
    width: 60rem;
    margin-left: -10rem;
  }

  nav {
    margin: 0rem 2rem;
  }
}

@media (max-width: 450px) {
  .section1 .hero-text ul li {
    font-size: 5rem;
  }
}
